@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    border: #000000 solid 1px;
}

.table th,
.table td {
    padding: 12px 15px;
    border: 1px solid #000000;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.bi-x-lg{
    color: red;
    font-size: 1.5em;
    text-decoration: none;
}

.bi-question-lg{
    color: blue;
    font-size: 1.5em;
    text-decoration: none;
}